/*  <<< mulish font from google fonts >>> */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

/* <<< shared styles >>> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.text-lightgray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF5400;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: #FFF;
    cursor: pointer;
}

/* header related styles */

header {
    background: #FFF;
    padding: 50px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 1rem;
}

nav li a {
    color: #424247;
    text-decoration: none;
}

h3 .holiday-head {
    color: #FF5400;
    font-weight: 800;
    font-size: 36px;
}

.section-title {
    color: #131318;
    font-weight: 800;
    font-size: 36px;
    position: relative;
    left: 80px;
}

.logo {
    position: relative;
    right: 450px;
}

/* banner styles */

.banner-content {
    text-align: center;
    padding: 80px 80px;
    margin-left: 80px;
    margin-top: 100px;
    color: #FFF;
    position: absolute;
    z-index: 2;
}

.banner-img {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    object-fit: cover;
}

.banner-title {
    font-weight: 800;
    font-size: 60px;
}